@font-face {
  font-family: "SF UI Display";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/sf-ui-display-300.otf") format("opentype");
}
@font-face {
  font-family: "SF UI Display";
  font-weight: 500;
  font-style: normal;
  src: url("../fonts/sf-ui-display-500.otf") format("opentype");
}
@font-face {
  font-family: "SF UI Display";
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/sf-ui-display-600.otf") format("opentype");
}
