.footer {
  display: flex;
}

.footer__photo {
  display: flex;
  flex-basis: 60%;
  justify-content: space-between;
}
.footer__information {
  padding-left: 7%;
  flex-basis: 40%;
}
.photo {
  width: 177px;
  height: 177px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.1);
}
.photo--yellow {
  background: #ffeeb9;
}
.photo--pink {
  background: #ffcca9;
}
.photo--orange {
  background: #ff9d80;
}
.footer__title {
  font-size: 45px;
  font-weight: 600;
  line-height: 109.5%;
}
.photo__text {
  color: #494747;
  font-weight: 700;
}
