.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(to left, #f788f1 40%, #ffffff 40%);
}

.layout__content {
  flex-grow: 1;
  max-width: 1600px;
  width: 83%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.layout__header {
  margin-top: 30px;
}

.layout__main {
  margin-top: 70px;
  position: relative;
  flex-grow: 1;
}

.layout__footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  background: #796eff;
  color: #ffffff;
}

.layout__footer-content {
  max-width: 1600px;
  width: 83%;
  padding-top: 22px;
  padding-bottom: 26px;
}

.layout__footer-flower {
  background-repeat: repeat-y;
  background-size: 100% auto;
  width: 8.5%;
  max-width: 74px;
}

.layout__footer-flower--left {
  background-image: url(../image/footer-flower-left.png);
}

.layout__footer-flower--right {
  background-image: url(../image/footer-flower-right.png);
}

@media (min-width: 1280px) {
  .layout {
    background: linear-gradient(to left, #f788f1 52%, #ffffff 48%);
  }
}
@media (max-width: 1024px) {
  .layout__content {
    width: 90%;
  }
  .layout__main {
    margin-top: 10px;
  }
}
